@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #f2f2f2;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}

nav .logo h1 {
  margin-top: 0px;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

/* .main-link {
  background-color: #333;
  color: #ddd;
  padding: 5px 10px;
  font-size: 0.85rem;
  border-radius: 5px;
  text-align: center;
  transition: 0.2s all;
}

.main-link:hover {
  background-color: #777;
  color: white;
}

.main-link:active {
  transform: scale(0.85);
} */

.not-found {
  text-align: center;
}

.not-found a {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
